<footer class="main-footer bg-light text-white pt-5 pb-4">
    <div class="container-fluid px-custom">
        <div class="row">
            <div
                *ngFor="let branch of branches"
                class="col-lg-2 col-md-4 col-sm-6 mb-4 text-center text-lg-left"
            >
                <h6
                    class="mb-3 font-weight-bold text-primary"
                >
                    {{ branch.name | translate}}
                </h6>
                <ul class="list-unstyled text-decoration-none font-weight-normal">
                    <li *ngFor="let addr of branch.addresses">
                        {{ addr }}
                    </li>
                </ul>
            </div>

            <!-- Cột 6 -->
            <div
                class="col-lg-2 col-md-4 col-sm-6 mb-4 d-lg-flex text-center text-lg-left flex-lg-column align-items-lg-end"
            >
                <div
                    *ngFor="let app of appDownload"
                    class="py-1"
                    
                >
                    <a [href]="app.url" target="_blank">
                        <img
                            [src]="app.image"
                            [alt]="app.alt" 
                            height="35"
                        >
                    </a>
                </div>

                <div 
                    class="d-flex align-items-center justify-content-between"
                    style="width: 106px;"
                >
                    <a
                      *ngFor="let social of socialMedia"
                      [href]="social.url"
                      class="social-icon"
                      target="_blank"
                    >
                      <img
                        [src]="social.image"
                        [alt]="social.name"
                        height="24px"
                        width="24px"
                      >
                    </a>
                  </div>                  
            </div>

        </div>
    </div>
</footer>