@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$side-spacing: 100px;

.main-footer {
  .px-custom {
    padding-left: $side-spacing;
    padding-right: $side-spacing;
    padding-top: 30px;
  }

  .social-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: $light;
  }

  .list-unstyled {
    color: $dark;
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  .main-footer {
    .px-custom {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (min-width: 1200px) {
  .col-xl-1-7 {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
  }
}

