<div class="main-dashboard">
  <div class="container-fluid dashboard-container p-0">
    <div class="row dashboard-row custom-gutter">
      <div class="col-12">
        <div
          class="dashboard-title d-flex flex-wrap justify-content-between align-items-center my-2 bg-white"
          style="height: 55px"
        >
          <div
            class="dashboard-title-left d-flex align-items-center col-3 col-sm-3 col-md-6 mb-2 mb-md-0"
          >
            <h6 class="mb-0 text-primary font-weight-bold">
              {{ "DASHBOARD.TITLE" | translate }}
            </h6>
          </div>
          <div
            class="dashboard-title-right d-flex align-items-center col-9 col-sm-9 col-md-6 justify-content-end"
          >
            <span class="mr-2" style="font-size: 12px; font-weight: 600">
              {{ "DASHBOARD.WATCH_ALONG" | translate }}
            </span>
            <div class="dropdown mr-2 position-relative">
              <button
                type="button"
                class="btn btn-outline-primary position-relative w-100 rounded-0"
                style="padding-right: 2rem"
                (click)="toggleDropdown()"
              >
                {{ getSelectedText() }}
                <span class="dropdown-caret" [class.rotate]="isDropdownOpen">
                  <svg
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                  >
                    <path d="M3 6l5 5 5-5H3z" />
                  </svg>
                </span>
              </button>
              <div
                class="dropdown-menu p-2 w-100 mt-0 border-top-0"
                style="top: 100%; left: 0"
                [class.show]="isDropdownOpen"
              >
                <div class="form-check d-flex align-items-center py-1">
                  <input
                    id="vehicle_all"
                    class="form-check-input mr-2"
                    type="checkbox"
                    style="margin-top: 0"
                    (change)="toggleSelectAll($event)"
                    [checked]="selectedVehicles.length === vehicles.length"
                  />
                  <label
                    class="form-check-label mb-0"
                    for="vehicle_all"
                    style="font-size: 14px !important"
                  >
                    {{ "DASHBOARD.SELECT_VEHICLE_ALL" | translate }} ({{
                      vehicles.length
                    }})
                  </label>
                </div>
                <div
                  *ngFor="let v of vehicles; let last = last"
                  class="form-check d-flex align-items-center py-1"
                  [ngStyle]="{
                    'border-bottom': last ? 'none' : '1px solid #eee'
                  }"
                >
                  <input
                    [id]="'vehicle_' + v.id"
                    class="form-check-input mr-2"
                    type="checkbox"
                    style="margin-top: 0"
                    [checked]="selectedVehicles.includes(v.id)"
                    (change)="onCheckboxChange($event, v.id)"
                  />
                  <label
                    class="form-check-label mb-0"
                    [for]="'vehicle_' + v.id"
                    style="font-size: 14px !important"
                  >
                    {{ v.name }}
                  </label>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-primary refresh-btn"
              (click)="refreshAll()"
            >
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </div>
      <app-company-overview-statistical
        class="col-12 mb-2"
        [title]="'DASHBOARD.COMPANY_OVERVIEW_STATISTICAL.TITLE' | translate"
        [vehicles]="filteredVehicles"
        [widgetId]="'company'"
      ></app-company-overview-statistical>
      <app-chart-donut
        class="col-12 col-md-6 col-lg-6 col-xl-4 mb-2"
        [title]="'DASHBOARD.VEHICLE_IN_BORDER_GATE.VEHICLE' | translate"
        [filterStatus]="'at-border'"
        [vehicles]="filteredVehicles"
        [widgetId]="'donut1'"
      >
      </app-chart-donut>
      <app-chart-donut
        class="col-12 col-md-6 col-lg-6 col-xl-4 mb-2"
        [title]="'DASHBOARD.VEHICLE_ON_THE_WAY.VEHICLE' | translate"
        [filterStatus]="'on-road'"
        [vehicles]="filteredVehicles"
        [widgetId]="'donut2'"
      >
      </app-chart-donut>
      <app-chart-bar
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mb-2"
        [title]="
          'DASHBOARD.VEHICLE_IN_THE_FACTORY.VEHICLE_IN_STOCK' | translate
        "
        [filterStatus]="'at-plant'"
        [vehicles]="filteredVehicles"
        [widgetId]="'column1'"
        [barColor]="'#dc143c'"
      ></app-chart-bar>
      <app-chart-bar
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2"
        [title]="'DASHBOARD.VEHICLE_IN_THE_PORT.VEHICLE_IN_STOCK' | translate"
        [filterStatus]="'at-port'"
        [vehicles]="filteredVehicles"
        [widgetId]="'column2'"
        [barColor]="'#20c997'"
      ></app-chart-bar>
    </div>
  </div>
</div>
