<div class="main-dashboard">
  <div class="container-fluid dashboard-container p-0">
    <div class="row dashboard-row">
      <div class="col-12">
        <!-- Phần dashboard-title -->
        <div
          class="dashboard-title d-flex flex-wrap justify-content-between align-items-center my-2 bg-white"
          style="height: 55px"
        >
          <div
            class="dashboard-title-left d-flex align-items-center px-3 col-12 col-md-6 mb-2 mb-md-0"
          >
            <h6 class="mb-0 text-primary font-weight-bold">
              {{ "DASHBOARD.TITLE" | translate }}
            </h6>
          </div>
          <div
            class="dashboard-title-right d-flex align-items-center px-3 col-12 col-md-6 justify-content-md-end"
          >
            <span class="mr-2" style="font-size: 12px; font-weight: 600">
              {{ "DASHBOARD.WATCH_ALONG" | translate }}
            </span>
            <div class="dropdown mr-2 position-relative">
              <button
                class="btn btn-outline-primary position-relative w-100"
                type="button"
                (click)="toggleDropdown()"
                style="padding-right: 2rem"
              >
                {{ getSelectedText() }}
                <span class="dropdown-caret" [class.rotate]="isDropdownOpen">
                  <svg
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                  >
                    <path d="M3 6l5 5 5-5H3z" />
                  </svg>
                </span>
              </button>
              <div
                class="dropdown-menu p-2 w-100 mt-0 border-top-0"
                [class.show]="isDropdownOpen"
                style="top: 100%; left: 0"
              >
                <div
                  *ngFor="let v of vehicles; let last = last"
                  class="form-check d-flex align-items-center py-1"
                  [ngStyle]="{
                    'border-bottom': last ? 'none' : '1px solid #eee'
                  }"
                  style="font-size: 10px"
                >
                  <input
                    class="form-check-input mr-2"
                    type="checkbox"
                    [id]="'vehicle_' + v.id"
                    [checked]="selectedVehicles.includes(v.id)"
                    (change)="onCheckboxChange($event, v.id)"
                    style="margin-top: 0"
                  />
                  <label
                    class="form-check-label mb-0"
                    [for]="'vehicle_' + v.id"
                  >
                    {{ v.name }}
                  </label>
                </div>
              </div>
            </div>
            <button class="btn btn-primary refresh-btn">
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white rounded p-2 mb-2">
          <div
            class="d-flex justify-content-between align-items-center pb-2"
            style="border-bottom: 3px solid #eee"
          >
            <span class="text-primary font-weight-bold" style="font-size: 15px">
              {{ "DASHBOARD.COMPANY_OVERVIEW.TITLE" | translate }}
            </span>
            <div>
              <button
                class="btn btn-secondary btn-sm mr-1"
                (click)="toggleCompanyStats()"
                type="button"
              >
                <i
                  class="bi"
                  [ngClass]="
                    showCompanyStats ? 'bi-chevron-down' : 'bi-chevron-up'
                  "
                ></i>
              </button>
              <button class="btn btn-secondary btn-sm mr-1" type="button">
                <i class="bi bi-arrow-clockwise"></i>
              </button>
              <div
                class="btn-group dropright custom-widget-width-dropdown"
                (mouseleave)="closeWidgetWidthDropdownCompany()"
              >
                <button
                  class="btn btn-secondary btn-sm"
                  type="button"
                  (mouseenter)="openWidgetWidthDropdownCompany()"
                  aria-haspopup="true"
                  [attr.aria-expanded]="widgetWidthDropdownOpenCompany"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div
                  class="dropdown-menu"
                  [class.show]="widgetWidthDropdownOpenCompany"
                  style="
                    min-width: 160px;
                    right: 0;
                    left: auto;
                    position: absolute;
                  "
                >
                  <div
                    class="dropdown-item d-flex align-items-center justify-content-between"
                    (mouseenter)="showWidgetWidthSubmenuCompany = true"
                    (mouseleave)="showWidgetWidthSubmenuCompany = false"
                    style="cursor: pointer"
                  >
                    Độ rộng
                    <i class="bi bi-chevron-compact-right"></i>
                    <!-- Dropdown cấp 2 mở sang trái -->
                    <div
                      class="dropdown-menu"
                      [class.show]="showWidgetWidthSubmenuCompany"
                      style="
                        right: 100%;
                        left: auto;
                        top: 0;
                        min-width: 140px;
                        position: absolute;
                      "
                    >
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn2('auto')"
                      >
                        Tự động
                        <i
                          *ngIf="widgetWidthColumn2 === 'auto'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn2('small')"
                      >
                        Nhỏ
                        <i
                          *ngIf="widgetWidthColumn2 === 'small'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn2('medium')"
                      >
                        Trung bình
                        <i
                          *ngIf="widgetWidthColumn2 === 'medium'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn2('large')"
                      >
                        Lớn
                        <i
                          *ngIf="widgetWidthColumn2 === 'large'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="row no-gutters"
            [ngClass]="{ 'mt-3': showCompanyStats }"
            *ngIf="showCompanyStats"
          >
            <div class="col-md-4 mb-2 mb-md-0 pr-md-2">
              <div
                class="bg-primary text-white rounded h-100 d-flex flex-column p-3"
              >
                <div class="font-weight-bold" style="font-size: 14px">
                  {{
                    "DASHBOARD.COMPANY_OVERVIEW.TOTAL_VEHICLE_IN_COMPANY"
                      | translate
                  }}
                </div>
                <div
                  class="d-flex align-items-center font-weight-bold"
                  style="font-size: 32px"
                >
                  85
                  <span class="ml-2 font-weight-normal" style="font-size: 16px">
                    {{ "DASHBOARD.COMPANY_OVERVIEW.VEHICLE" | translate }}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-2 mb-md-0 pr-md-2">
              <div
                class="bg-success text-white rounded h-100 d-flex flex-column p-3"
              >
                <div class="font-weight-bold" style="font-size: 14px">
                  {{
                    "DASHBOARD.COMPANY_OVERVIEW.TOTAL_VEHICLE_IN_STOCK"
                      | translate
                  }}
                </div>
                <div
                  class="d-flex align-items-center font-weight-bold"
                  style="font-size: 32px"
                >
                  0
                  <span class="ml-2 font-weight-normal" style="font-size: 16px">
                    {{ "DASHBOARD.COMPANY_OVERVIEW.VEHICLE" | translate }}
                  </span>
                </div>
                <div class="mt-auto" style="font-size: 13px">
                  0% /
                  {{ "DASHBOARD.COMPANY_OVERVIEW.TOTAL_VEHICLE" | translate }}
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="rounded h-100 d-flex flex-column p-3 text-white"
                style="background: #e67a2c"
              >
                <div class="font-weight-bold" style="font-size: 14px">
                  {{
                    "DASHBOARD.COMPANY_OVERVIEW.TOTAL_VEHICLE_NOT_STOCK"
                      | translate
                  }}
                </div>
                <div
                  class="d-flex align-items-center font-weight-bold"
                  style="font-size: 32px"
                >
                  85
                  <span class="ml-2 font-weight-normal" style="font-size: 16px">
                    {{ "DASHBOARD.COMPANY_OVERVIEW.VEHICLE" | translate }}
                  </span>
                </div>
                <div class="mt-auto" style="font-size: 13px">
                  100% /
                  {{ "DASHBOARD.COMPANY_OVERVIEW.TOTAL_VEHICLE" | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Donut 1 -->
      <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-2">
        <div class="chart-card bg-white p-2">
          <div
            class="d-flex justify-content-between align-items-center pb-2"
            style="border-bottom: 2px solid #eee"
          >
            <span class="text-primary font-weight-bold" style="font-size: 15px"
              >PHƯƠNG TIỆN TẠI CỬA KHẨU</span
            >
            <div>
              <button
                class="btn btn-secondary btn-sm mr-1"
                (click)="toggleDonut1()"
              >
                <i
                  class="bi"
                  [ngClass]="
                    visible.donut1 ? 'bi-chevron-down' : 'bi-chevron-up'
                  "
                ></i>
              </button>
              <button class="btn btn-secondary btn-sm mr-1">
                <i class="bi bi-arrow-clockwise"></i>
              </button>
              <!-- Thay thế nút ba chấm Donut 1 -->
              <div
                class="btn-group dropright custom-widget-width-dropdown"
                (mouseleave)="closeWidgetWidthDropdownDonut1()"
              >
                <button
                  class="btn btn-secondary btn-sm"
                  type="button"
                  (mouseenter)="openWidgetWidthDropdownDonut1()"
                  aria-haspopup="true"
                  [attr.aria-expanded]="widgetWidthDropdownOpenDonut1"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div
                  class="dropdown-menu"
                  [class.show]="widgetWidthDropdownOpenDonut1"
                  style="min-width: 160px"
                >
                  <div
                    class="dropdown-item d-flex align-items-center justify-content-between"
                    (mouseenter)="showWidgetWidthSubmenuDonut1 = true"
                    (mouseleave)="showWidgetWidthSubmenuDonut1 = false"
                    style="cursor: pointer"
                  >
                    Độ rộng
                    <i class="bi bi-chevron-compact-right"></i>
                    <!-- Dropdown cấp 2 cho Donut 1 -->
                    <!-- Dropdown cấp 2 cho Donut 1 -->
                    <div
                      class="dropdown-menu"
                      [class.show]="showWidgetWidthSubmenuDonut1"
                      style="
                        left: 100%;
                        top: 0;
                        min-width: 140px;
                        position: absolute;
                      "
                    >
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthDonut1('auto')"
                      >
                        Tự động
                        <i
                          *ngIf="widgetWidthDonut1 === 'auto'"
                          class="bi bi-check2 text-primary ml-2"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthDonut1('small')"
                      >
                        Nhỏ
                        <i
                          *ngIf="widgetWidthDonut1 === 'small'"
                          class="bi bi-check2 text-primary ml-2"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthDonut1('medium')"
                      >
                        Trung bình
                        <i
                          *ngIf="widgetWidthDonut1 === 'medium'"
                          class="bi bi-check2 text-primary ml-2"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthDonut1('large')"
                      >
                        Lớn
                        <i
                          *ngIf="widgetWidthDonut1 === 'large'"
                          class="bi bi-check2 text-primary ml-2"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="pt-5"
            [ngClass]="{ '': visible.donut1 }"
            *ngIf="visible.donut1"
          >
            <canvas
              baseChart
              [data]="donut1Data"
              [type]="donutType"
              [options]="donutOptions"
              style="max-height: 260px"
            ></canvas>
          </div>
        </div>
      </div>

      <!-- Donut 2 -->
      <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-2">
        <div class="chart-card bg-white p-2">
          <div
            class="d-flex justify-content-between align-items-center pb-2"
            style="border-bottom: 2px solid #eee"
          >
            <span class="text-primary font-weight-bold" style="font-size: 15px"
              >PHƯƠNG TIỆN ĐANG TRÊN ĐƯỜNG</span
            >
            <div>
              <button
                class="btn btn-secondary btn-sm mr-1"
                (click)="visible.donut2 = !visible.donut2"
              >
                <i
                  class="bi"
                  [ngClass]="
                    visible.donut2 ? 'bi-chevron-down' : 'bi-chevron-up'
                  "
                ></i>
              </button>
              <button class="btn btn-secondary btn-sm mr-1">
                <i class="bi bi-arrow-clockwise"></i>
              </button>
              <!-- Thay thế nút ba chấm Donut 1 -->
              <div
                class="btn-group dropright custom-widget-width-dropdown"
                (mouseleave)="closeWidgetWidthDropdownDonut2()"
              >
                <button
                  class="btn btn-secondary btn-sm"
                  type="button"
                  (mouseenter)="openWidgetWidthDropdownDonut2()"
                  aria-haspopup="true"
                  [attr.aria-expanded]="widgetWidthDropdownOpenDonut2"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div
                  class="dropdown-menu"
                  [class.show]="widgetWidthDropdownOpenDonut2"
                  style="min-width: 160px"
                >
                  <div
                    class="dropdown-item d-flex align-items-center justify-content-between"
                    (mouseenter)="showWidgetWidthSubmenuDonut2 = true"
                    (mouseleave)="showWidgetWidthSubmenuDonut2 = false"
                    style="cursor: pointer"
                  >
                    Độ rộng
                    <i class="bi bi-chevron-compact-right"></i>
                    <!-- Dropdown cấp 2 cho Donut 1 -->
                    <!-- Dropdown cấp 2 cho Donut 1 -->
                    <div
                      class="dropdown-menu"
                      [class.show]="showWidgetWidthSubmenuDonut2"
                      style="
                        left: 100%;
                        top: 0;
                        min-width: 140px;
                        position: absolute;
                      "
                    >
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthDonut2('auto')"
                      >
                        Tự động
                        <i
                          *ngIf="widgetWidthDonut2 === 'auto'"
                          class="bi bi-check2 text-primary ml-2"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthDonut2('small')"
                      >
                        Nhỏ
                        <i
                          *ngIf="widgetWidthDonut2 === 'small'"
                          class="bi bi-check2 text-primary ml-2"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthDonut2('medium')"
                      >
                        Trung bình
                        <i
                          *ngIf="widgetWidthDonut2 === 'medium'"
                          class="bi bi-check2 text-primary ml-2"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthDonut2('large')"
                      >
                        Lớn
                        <i
                          *ngIf="widgetWidthDonut2 === 'large'"
                          class="bi bi-check2 text-primary ml-2"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="pt-5"
            [ngClass]="{ '': visible.donut2 }"
            *ngIf="visible.donut2"
          >
            <canvas
              baseChart
              [data]="donut2Data"
              [type]="donutType"
              [options]="donutOptions"
            ></canvas>
          </div>
        </div>
      </div>

      <!-- Chart column (Nhà máy) -->
      <div class="col-12 col-md-12 col-lg-12 col-xl-4 mb-2">
        <div
          class="chart-card scrollable-chart bg-white p-2"
          [ngClass]="{ 'h-100': visible.colPlant }"
          #plantChartCard
        >
          <div
            class="d-flex justify-content-between align-items-center pb-2 mb-1"
            style="border-bottom: 2px solid #eee"
          >
            <span class="text-primary font-weight-bold" style="font-size: 15px"
              >PHƯƠNG TIỆN TẠI NHÀ MÁY</span
            >
            <div>
              <button
                class="btn btn-secondary btn-sm mr-1"
                (click)="visible.colPlant = !visible.colPlant"
              >
                <i
                  class="bi"
                  [ngClass]="
                    visible.colPlant ? 'bi-chevron-down' : 'bi-chevron-up'
                  "
                ></i>
              </button>
              <button class="btn btn-secondary btn-sm mr-1">
                <i class="bi bi-arrow-clockwise"></i>
              </button>
              <!-- Dropdown độ rộng mở sang trái -->
              <div
                class="btn-group dropright custom-widget-width-dropdown"
                (mouseleave)="closeWidgetWidthDropdownColumn1()"
              >
                <button
                  class="btn btn-secondary btn-sm"
                  type="button"
                  (mouseenter)="openWidgetWidthDropdownColumn1()"
                  aria-haspopup="true"
                  [attr.aria-expanded]="widgetWidthDropdownOpenColumn1"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div
                  class="dropdown-menu"
                  [class.show]="widgetWidthDropdownOpenColumn1"
                  style="
                    min-width: 160px;
                    right: 0;
                    left: auto;
                    position: absolute;
                  "
                >
                  <div
                    class="dropdown-item d-flex align-items-center justify-content-between"
                    (mouseenter)="showWidgetWidthSubmenuColumn1 = true"
                    (mouseleave)="showWidgetWidthSubmenuColumn1 = false"
                    style="cursor: pointer"
                  >
                    Độ rộng
                    <i class="bi bi-chevron-compact-right"></i>
                    <!-- Dropdown cấp 2 mở sang trái -->
                    <div
                      class="dropdown-menu"
                      [class.show]="showWidgetWidthSubmenuColumn1"
                      style="
                        right: 100%;
                        left: auto;
                        top: 0;
                        min-width: 140px;
                        position: absolute;
                      "
                    >
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn1('auto')"
                      >
                        Tự động
                        <i
                          *ngIf="widgetWidthColumn1 === 'auto'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn1('small')"
                      >
                        Nhỏ
                        <i
                          *ngIf="widgetWidthColumn1 === 'small'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn1('medium')"
                      >
                        Trung bình
                        <i
                          *ngIf="widgetWidthColumn1 === 'medium'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn1('large')"
                      >
                        Lớn
                        <i
                          *ngIf="widgetWidthColumn1 === 'large'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="pt-5"
            [ngClass]="{ '': visible.colPlant }"
            *ngIf="visible.colPlant"
          >
            <canvas
              baseChart
              [data]="barPlantData"
              [type]="barPlantType"
              [options]="barPlantOptions"
              [plugins]="chartPlugins"
              [height]="250"
            ></canvas>
          </div>
        </div>
      </div>

      <!-- Chart column (Cảng) -->
      <div class="col-12 mb-2">
        <div
          class="chart-card scrollable-chart bg-white p-2"
          [ngClass]="{ 'h-100': visible.colPort }"
          #portChartCard
        >
          <div
            class="d-flex justify-content-between align-items-center pb-2 mb-1"
            style="border-bottom: 2px solid #eee"
          >
            <span class="text-primary font-weight-bold" style="font-size: 15px">
              PHƯƠNG TIỆN TẠI CẢNG
            </span>
            <div>
              <button
                class="btn btn-secondary btn-sm mr-1"
                (click)="visible.colPort = !visible.colPort"
              >
                <i
                  class="bi"
                  [ngClass]="
                    visible.colPort ? 'bi-chevron-down' : 'bi-chevron-up'
                  "
                ></i>
              </button>
              <button class="btn btn-secondary btn-sm mr-1">
                <i class="bi bi-arrow-clockwise"></i>
              </button>
              <!-- Dropdown độ rộng mở sang trái -->
              <div
                class="btn-group dropright custom-widget-width-dropdown"
                (mouseleave)="closeWidgetWidthDropdownColumn2()"
              >
                <button
                  class="btn btn-secondary btn-sm"
                  type="button"
                  (mouseenter)="openWidgetWidthDropdownColumn2()"
                  aria-haspopup="true"
                  [attr.aria-expanded]="widgetWidthDropdownOpenColumn2"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div
                  class="dropdown-menu"
                  [class.show]="widgetWidthDropdownOpenColumn2"
                  style="
                    min-width: 160px;
                    right: 0;
                    left: auto;
                    position: absolute;
                  "
                >
                  <div
                    class="dropdown-item d-flex align-items-center justify-content-between"
                    (mouseenter)="showWidgetWidthSubmenuColumn2 = true"
                    (mouseleave)="showWidgetWidthSubmenuColumn2 = false"
                    style="cursor: pointer"
                  >
                    Độ rộng
                    <i class="bi bi-chevron-compact-right"></i>
                    <!-- Dropdown cấp 2 mở sang trái -->
                    <div
                      class="dropdown-menu"
                      [class.show]="showWidgetWidthSubmenuColumn2"
                      style="
                        right: 100%;
                        left: auto;
                        top: 0;
                        min-width: 140px;
                        position: absolute;
                      "
                    >
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn2('auto')"
                      >
                        Tự động
                        <i
                          *ngIf="widgetWidthColumn2 === 'auto'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn2('small')"
                      >
                        Nhỏ
                        <i
                          *ngIf="widgetWidthColumn2 === 'small'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn2('medium')"
                      >
                        Trung bình
                        <i
                          *ngIf="widgetWidthColumn2 === 'medium'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                      <button
                        class="dropdown-item d-flex justify-content-between align-items-center"
                        (click)="setWidgetWidthColumn2('large')"
                      >
                        Lớn
                        <i
                          *ngIf="widgetWidthColumn2 === 'large'"
                          class="bi bi-check2 text-primary ml-2"
                          style="font-size: 1.5rem"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="pt-2"
            [ngClass]="{ '': visible.colPort }"
            *ngIf="visible.colPort"
          >
            <canvas
              baseChart
              [data]="barPortData"
              [type]="barPortType"
              [options]="barPortOptions"
              [plugins]="chartPlugins"
              [width]="canvasWidth"
              [height]="250"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
