<div class="main-slider position-relative">
    <div 
        id="newsCarousel" 
        class="carousel slide" 
        (mouseleave)="onSliderLeave()"
    >
        <div 
            *ngIf="shouldShowSlider()"
            class="carousel-indicators-custom d-flex justify-content-center" 
        >
            <span 
                *ngFor="let item of displayNewsItems; let i = index" 
                class="mx-1"
                (click)="goToSlide(i)" 
            >
                <i 
                    class="bi" 
                    [ngClass]="i === currentSlide ? 'bi-record2' : 'bi-record-fill'"
                ></i>
            </span>
        </div>

        <div class="carousel-inner">
            <div 
                *ngFor="let item of (displayNewsItems.length ? displayNewsItems : [defaultBanner]); let i = index"
                class="carousel-item" 
                [class.active]="i === currentSlide"
            >
                <a 
                    [href]="item.link" 
                    target="_blank"
                >
                    <img 
                        [src]="item.image" 
                        class="d-block w-100 img-fluid img-thumbnail" 
                        alt="{{item.title}}"
                    >
                </a>

                <div 
                    *ngIf="item.id > 0"
                    class="left-caption d-flex align-items-center justify-content-between" 
                >
                    <div class="text-content w-75">
                        <h5 class="font-weight-bolder">{{ item.title }}</h5>
                        <p class="text-truncate-2">{{ item.shortContents }}</p>
                    </div>
                    <a 
                        *ngIf="item.link" 
                        [href]="item.link"
                        class="text-decoration-none text-dark rounded-pill d-flex align-items-center justify-content-center btn-sm ml-3"
                        target="_blank"
                        style="height: 30px; width: 90px; font-weight: 600; background: #66CC00;" 
                    >
                        {{ 'MAIN.NEWS.DETAIL' | translate }} 
                        <i 
                            class="bi bi-arrow-right-short"
                            style="padding-top: 3px; font-size: 17px;"
                        ></i>
                    </a>
                </div>
            </div>
        </div>

        <a 
            *ngIf="shouldShowSlider()" 
            class="carousel-control-prev" 
            (click)="prevSlide()"
        >
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a 
            *ngIf="shouldShowSlider()" 
            class="carousel-control-next" 
            (click)="nextSlide()"
        >
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div class="login-form-overlay card p-4">
        <img 
            src="assets/images/logo/logo.png" 
            class="img-fluid py-4 mx-auto d-block"
            width="100" 
            height="100" 
        >

        <form 
            (ngSubmit)="onLogin()" 
            class="d-flex flex-column h-100"
        >
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span 
                            class="input-group-text bg-transparent border-0 position-absolute"
                            style="z-index: 10; left: 15px;"
                        >
                            <i class="bi bi-person-fill text-muted"></i>
                        </span>
                    </div>
                    <input 
                        [(ngModel)]="username" name="username" 
                        class="form-control rounded-pill" 
                        style="padding-left: 3.5rem;"
                        placeholder="{{ 'MAIN.LOGIN.USERNAME' | translate }}"
                        type="text" 
                    >
                </div>
                <small 
                    *ngIf="usernameError"
                    class="text-danger" 
                >
                    {{usernameError}}
                </small>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span 
                            class="input-group-text bg-transparent border-0 position-absolute"
                            style="z-index: 10; left: 15px;"
                        >
                            <i class="bi bi-lock-fill text-muted"></i>
                        </span>
                    </div>
                    <input 
                        [(ngModel)]="password" name="password"
                        class="form-control rounded-pill"
                        style="padding-left: 3.5rem; padding-right: 3.5rem;" 
                        placeholder="{{ 'MAIN.LOGIN.PASSWORD' | translate }}"
                        [type]="showPassword ? 'text' : 'password'" 
                    >
                    <div class="input-group-append">
                        <span 
                            class="input-group-text bg-transparent border-0 position-absolute"
                            style="z-index: 10; right: 15px; cursor: pointer;" 
                            (click)="showPassword = !showPassword"
                        >
                            <i 
                                [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                                class="bi" 
                            ></i>
                        </span>
                    </div>
                </div>
                <small 
                    *ngIf="passwordError"
                    class="text-danger" 
                >
                    {{passwordError}}
                </small>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between">
                <div class="form-check mb-0 d-flex align-items-center">
                    <input 
                        [(ngModel)]="rememberMe" 
                        id="rememberMe" 
                        class="form-check-input" 
                        style="width: 20px; height: 15px;"
                        name="rememberMe" 
                        type="checkbox" 
                        [checked]="true"
                    >
                    <label 
                        class="form-check-label small mb-0 ml-1" 
                        for="rememberMe"
                    >
                        {{ 'MAIN.LOGIN.REMEMBER' | translate }}
                    </label>
                </div>
                <a 
                    href="#" 
                    class="forgot-password small d-flex align-items-center"
                >
                    {{ 'MAIN.LOGIN.FORGOT' | translate }}
                </a>
            </div>

            <button 
                class="btn btn-success btn-block rounded-pill shadow-none border-0"
                type="submit" 
            >
                {{ 'MAIN.LOGIN.SUBMIT' | translate }}
            </button>
            <small 
                *ngIf="loginError"
                class="text-danger d-block mt-2" 
            >
                {{loginError}}
            </small>

            <div class="text-center mt-auto footer-qr">
                <img 
                    src="assets/images/img/qr.png" 
                    class="img-fluid qr-image" 
                    width="100" 
                    height="100" 
                    alt="QR"
                >
                <p 
                    class="qr-text mt-2 mb-0 small"
                >
                    {{ 'MAIN.LOGIN.QR_TEXT' | translate }}
                </p>
            </div>
        </form>
    </div>
</div>