<header class="main-header bg-light border-bottom">
    <nav class="navbar navbar-expand-lg navbar-lnavbar-light px-0">
        <div class="w-100 d-flex align-items-center justify-content-between">
             <div class="logo pl-custom">
                <a 
                    href=""
                    class="navbar-brand font-weight-bold"
                >
                    <img 
                        src="assets/images/logo/logo.png" 
                        alt="Logo BA GPS"
                        height="40px"
                    >
                </a>
             </div>

              <div 
                class="collapse navbar-collapse justify-content-center" 
                id="mainNavbar"
              >
                <ul
                    *ngFor="let item of menuItems"
                    class="navbar-nav"
                >
                    <li class="nav-item">
                        <a 
                            [href]="item.url"
                            class="nav-link text-primary"
                            target="_blank"
                        >
                            {{ item.name | translate}}
                        </a>
                    </li>
                </ul> 
              </div>

               <div class="header-actions d-none d-lg-flex align-items-center pr-custom">
                    <div class="hotline mr-3 border border-primary rounded-pill px-3 py-1">
                        <a 
                            href="tel:19006464"
                            class="hotline-button text-decoration-none"
                        >
                            <i class="bi bi-telephone-fill"></i>
                            <span>
                                {{ 'HEADER.HOTLINE' | translate}}
                            </span>
                        </a>
                    </div>
                    <div class="lang-switch">
                        <div class="dropdown">
                            <button
                                class="dropdown-toggle border-0 bg-light d-inline-flex align-items-center "
                                id="langDropdown"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                type="button"
                                (click)="toggleLangMenu()"
                            >
                                <div class="flag-icon">
                                    <img
                                        [src]="getCurrentLanguage().flag"
                                        [alt]="getCurrentLanguage().name + 'flag'"
                                        class="flag-img rounded-circle"
                                        style="width: 30px; height: 30px; margin-right: 0.5rem;"
                                    >
                                </div>
                                <span
                                    class="text-primary"
                                >
                                    {{ getCurrentLanguage().name | translate}}
                                </span>
                            </button>
                            <div
                                class="dropdown-menu dropdown-menu-right my-1"
                                style="width: 130px;"
                                aria-labelledby="langDropdown"
                                [class.show]="isLangMenuOpen"
                            >
                                <button
                                    class="dropdown-item"
                                    type="button"
                                    (click)="changeLanguage('vi')"
                                >
                                    <img
                                        src="assets/images/img/vi.png" 
                                        alt="VietNam"
                                        class="flag-img rounded-circle"
                                        style="width: 20px; height: 20px;"
                                    >
                                    <span
                                        class="text-primary"
                                    >
                                        {{ 'HEADER.LANGUAGES.VI' | translate}}
                                    </span>
                                </button>
                                <button
                                    class="dropdown-item"
                                    type="button"
                                    (click)="changeLanguage('en')"
                                >
                                    <img
                                        src="assets/images/img/us.png" 
                                        alt="VietNam"
                                        class="flag-img rounded-circle"
                                        style="width: 20px; height: 20px;"
                                    >
                                    <span
                                        class="text-primary"
                                    >
                                        {{ 'HEADER.LANGUAGES.EN' | translate}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
               </div>
        </div>
    </nav>
</header>